.header {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/imgs/header.png') no-repeat center center;
  background-size: contain;

  .time {
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 26px;
    transform: translateY(-50%);

    .timeIcon {
      margin-right: 8px;
      color: #0bbcfa;
    }
  }

  .title {
    font-size: 34px;
    margin-bottom: 8px;
    background: url('../../assets/imgs/line2.png') no-repeat bottom center;
  }

  .flow {
    position: absolute;
    right: 18%;
    top: 5%;

    div {
      cursor: pointer;
      color: #4e4a4a;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 2px;
        background-color: #4e4a4a;
      }

      &:nth-child(1) {
        &.active {
          color: #d20000;

          span {
            background-color: #d20000;
          }
        }
      }

      &:nth-child(2) {
        &.active {
          color: turquoise;

          span {
            background-color: turquoise;
          }
        }
      }
    }
  }

  .desc {
    position: absolute;
    right: 2px;
    top: 50%;
    color: #77fbe3;
    transform: translateY(-50%);
    user-select: none;
    display: flex;
    justify-items: center;
    align-items: center;

    .online {
      background-color: #44db68;
      width: 100px;
      height: 30px;
      transition: .2s ease-out;
      color: #fff;
      border-radius: 4px;
      line-height: 30px;
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 0 8px;
      transition: ease-out 1s;

      .box {
        display: inline-block;
        background-color: #fff;
        width: 24px;
        height: 24px;
        border-radius: 2px;
      }

      .text {
        display: inline-block;
        font-size: 12px;
        margin-left: 4px;
      }
    }

    .outline {
      background-color: #d20000;
      width: 100px;
      height: 30px;
      transition: .2s ease-out;
      color: #fff;
      border-radius: 4px;
      line-height: 30px;
      display: flex;
      justify-items: center;
      align-items: center;
      justify-content: space-around;
      padding: 0 8px;
      transition: ease-out 1s;

      .box {
        display: inline-block;
        background-color: #fff;
        width: 24px;
        height: 24px;
        border-radius: 2px;
      }

      .text {
        display: inline-block;
        font-size: 12px;
      }
    }


    .setIcon {
      margin-right: 8px;
      font-size: 80px;
      cursor: pointer;
      margin-left: 5px;
    }

    .close {
      color: #8f8f8f;
    }

    .open {
      color: #00ff00;
    }
  }
}
