.header {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../../assets/imgs/header.png') no-repeat center center;
  background-size: contain;

  .time {
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 26px;
    transform: translateY(-50%);
    font-family: 700;
    .timeIcon {
      margin-right: 8px;
      color: #0bbcfa;
    }
  }

  .title {
    font-size: 34px;
    margin-bottom: 8px;
    background: url('../../assets/imgs/line2.png') no-repeat bottom center;
  }

  

  .desc {
    position: absolute;
    right: 2px;
    top: 80%;
    color: #77fbe3;
    transform: translateY(-50%);
    user-select: none;
    display: flex;
    justify-items: center;
    align-items: center;

    .online {
      background-color: #9966ff;
      width: 120px;
      height: 35px;
      transition: .5s ease-out;
      color: #ffffff;
      border-radius: 2px;
      box-shadow: 2px 2px 1px #402f63;
      line-height: 35px;
      display: flex;
      justify-items: center;
      align-items: center;
      padding: 0 5px;

      .box {
        display: inline-block;
        background-color: #ffffff;
        width: 29px;
        height: 29px;
        border-radius: 3px;
        box-shadow: 1px 1px 1px 1px #f0f0f0 inset;
      }

      .text {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        margin-left: 4px;
        text-shadow: 1px 1px 1px 1px #666666;
      }
    }

    .outline {
      background-color: #666666;
      width: 120px;
      height: 35px;
      transition: .5s ease-out;
      color: #ffffff;
      border-radius: 2px;
      line-height: 35px;
      box-shadow: 2px 2px 1px #313131;
      display: flex;
      justify-items: center;
      align-items: center;
      justify-content: space-around;
      padding: 0 5px;
      .box {
        display: inline-block;
        background-color: #ffffff;
        width: 29px;
        height: 29px;
        
        border-radius: 3px;
        box-shadow: 1px 1px 1px 1px #f0f0f0 inset;
      }

      .text {
        display: inline-block;
        font-size: 14px;
        font-weight: 700;
        text-shadow: 1px 1px 1px 1px #666666;
        // margin-left: 4px;
      }
    }


    .setIcon {
      margin-right: 8px;
      font-size: 80px;
      cursor: pointer;
      margin-left: 5px;
    }

    .close {
      color: #8f8f8f;
    }

    .open {
      color: #00ff00;
    }
  }
}
